html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #c5c5c5;
    align-items: center;
}

.btn_download {
    margin-bottom: 10px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #343a3f;
    color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_download:hover {
    cursor: pointer;
    background-color: #495057;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.box {
    text-align: left;
    background-color: #343a3f;
    color: white;
    border: 1px solid black;
    flex: 1 1 calc(20% - 10px);
    padding: 10px;
    box-sizing: border-box;
}

.box img {
    max-width: 100%;
    border-radius: 5px;
}